{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="bg-light mt-4 p-4" id="regForm">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">Page de connexion</h1>
					<label for="inputEmail">Numéro de licencié</label>
					<input type="number" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="btn btn-warning mt-4" type="submit">Connexion</button>
					<a class="btn btn-warning mt-4" href="{{ path('app_register') }}">S'enregistrer</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
