{% extends 'base.html.twig' %}

{% block title %}Maison Des Ligues{% endblock %}

{% block header %}
    {% include '/HTMLelements/header.html.twig' %}
{% endblock %}

{% block body %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-warning fw-bolder text-center">
			{{ message }}
		</div>
    {% endfor %}

    	{% for message in app.flashes('success') %}
		<div class="alert alert-success fw-bolder text-center">
			{{ message }}
		</div>
    {% endfor %}

    <h1 class="text-center text-warning">Le congrès de la fédération française d'escrime</h1>
    <h3 class="text-center text-decoration-underline">Du 16 Septembre 2023 au 17 Septembre 2023</h3>
    <h3 class="mt-5"></h3>
    <div class="container-lg bg-warning bg-opacity-10">
        {% for atelier in ateliers %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
                {% endif %}
                <div class="col-md-4 border border-warning">
                    <div class="item">
                        <h5>{{ atelier.libelle }} :</h5>
                        <p>{{ atelier.vacation.dateHeureDebut|format_datetime('short','short',locale='fr') }} - {{ atelier.vacation.dateHeureFin|format_datetime('short','short',locale='fr') }}</p>
                        <p>Nombres de places : {{ atelier.nbplaces }}</p>
                        <p>Les thèmes : </p>
                        <p>
                            {% for theme in themes %}
                                {% if atelier.id == theme.atelier.id %}
                                    -{{ theme.libelle }}<br>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="container-lg bg-warning bg-opacity-10">
        {% for hotel in hotels %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
                {% endif %}
                <div class="col-md-6 border border-warning">
                    <div class="item">
                        <h5>{{ hotel.nom }} :</h5>
                        <p>
                            {% for chambre in chambres %}
                                {% if hotel.id == chambre.apartenir.id %}
                                    {{ chambre.libelle }} {{ chambre.tarifsNuites }}€<br>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
    {#    {% include '/HTMLelements/footer.html.twig' %}#}
    {# footer not sticky to bottom#}
{% endblock %}

